@tailwind base;
@tailwind components;
@tailwind utilities;


.blockSelect {
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.menu-card-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.outer-input {
    width: 100%
}

input.inputBox {
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
    padding-right: 55px;
    color: #009229;
    border-radius: 8px;
    border: 3px solid #00C036;
    background: url("img/icon/calendar_green.svg") no-repeat 95% 47%;
    background-size: 19px;
}

input.inputBox::placeholder {
    overflow: visible;
}


.calenderWrap {
    display: flex;
    justify-content: center;
    position: relative;
}

.calendarElement {
    position: absolute;
    transform: translateX(-13%) translateY(-2%);
    padding: 20px 30px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    z-index: 999;
}
